@font-face {
	font-family: "iconfont";
	src: url('~@/static/fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconpaper-plane:before {
  content: "\e62d";
}

.iconexpression:before {
  content: "\e637";
}

.iconimage:before {
  content: "\e6da";
}

.icongouwuche:before {
  content: "\e63b";
}

.iconzuanshi:before {
  content: "\e604";
}

.icontongji:before {
  content: "\e65f";
}

.iconerweima:before {
  content: "\e66b";
}

.iconxuanzhong:before {
  content: "\e631";
}

.iconxinbaniconshangchuan-:before {
  content: "\e608";
}

.iconicon-share:before {
  content: "\e661";
}

.iconarrow-right-copy:before {
  content: "\f061";
}

.iconarrow-bottom-copy:before {
  content: "\f062";
}

.iconarrow-up:before {
  content: "\f063";
}

.iconarrow-left:before {
  content: "\e609";
}

.iconiconstar:before {
  content: "\e612";
}

.iconfenxiang:before {
  content: "\e602";
}

.iconhaibao:before {
  content: "\e6d8";
}

.iconpengyouquan:before {
  content: "\e69f";
}

.iconApple:before {
  content: "\e62c";
}

.iconqq:before {
  content: "\e611";
}

.iconweixin:before {
  content: "\e673";
}

.iconumidd17:before {
  content: "\e603";
}

.iconkefu:before {
  content: "\e636";
}

.iconcart:before {
  content: "\e660";
}

.iconempty:before {
  content: "\e62b";
}

.iconempty1:before {
  content: "\f060";
}

.iconcheckbox_prekaobei:before {
  content: "\e641";
}

.iconshoucang1:before {
  content: "\e8d4";
}

.iconrate-copy:before {
  content: "\ea9d";
}

.iconsearchclose:before {
  content: "\e600";
}

.icongary:before {
  content: "\e601";
}

.iconky_newsTime:before {
  content: "\e623";
}

.iconky_homeSearch:before {
  content: "\e629";
}

.iconky_newsEye:before {
  content: "\e62a";
}

.iconbangzhu:before {
  content: "\e628";
}

.iconky_memberRefund1:before {
  content: "\e627";
}

.iconky_memberAdder:before {
  content: "\e61e";
}

.iconky_memberExtension:before {
  content: "\e61f";
}

.iconky_memberDiamonds:before {
  content: "\e620";
}

.iconky_memberLove:before {
  content: "\e621";
}

.iconky_memberMessage:before {
  content: "\e622";
}

.iconky_memberVehicle:before {
  content: "\e624";
}

.iconky_memberWallet:before {
  content: "\e625";
}

.iconky_memberSite:before {
  content: "\e626";
}

.iconky_memberBox:before {
  content: "\e61d";
}

.iconyouhuiquan:before {
  content: "\e60b";
}

.iconxingzhuang:before {
  content: "\e84b";
}

.iconky_Loginuserphone:before {
  content: "\e617";
}

.iconky_Loginuseremail:before {
  content: "\e618";
}

.iconky_password:before {
  content: "\e61a";
}

.iconky_userName:before {
  content: "\e61b";
}

.iconarrow-top:before {
  content: "\e61c";
}

.iconguanli:before {
  content: "\e652";
}

.icongonggao:before {
  content: "\ea80";
}

.icongou:before {
  content: "\e610";
}

.icontime:before {
  content: "\e619";
}

.iconkyShoppingCart:before {
  content: "\e60f";
}

.iconshoucang:before {
  content: "\e635";
}

.iconky_share:before {
  content: "\e60e";
}

.iconjifen:before {
  content: "\e65e";
}

.iconarrow:before {
  content: "\e60d";
}

.iconhome:before {
  content: "\e657";
}
