input[readonly] { background: #eee; }
.main-header{ z-index: 99999; }
.layui-form-select .layui-unselect { background: #fff; }
.content-nav { background: #fff; height: 40px; line-height: 40px; }
.content-nav ul { float: left; margin-left: 0px; padding-left: 10px; }
.content-nav li { float: left; list-style: none }
.content-nav li i { position: relative; top: -1px; }
.content-nav li:after { padding-left: 5px; content: '>\00a0'; }
.content-nav li:last-child:after{ content: ""; }
.content-nav li a { color: #666; font-size: 13px; }
.navbar-list-top { font-size: 15px; padding: 0 15px; }
.navbar-list-top .nav>li {}
.navbar-list-top .nav>li>a { padding-left: 25px; padding-right: 25px; }
.treeview-menu>li>a { font-size: 14px; }
.inline-page-box { margin-bottom: 10px }
.l-col-md-3 { padding-right: 0; width: 15%; }
.r-col-md-9 { padding-left: 0; padding-right: 0; width: 85%; }

.l-col-md-4 { padding-right: 0px; width: 320px; }
.r-col-md-8 { padding-left: 10px; padding-right: 0; width: 60%; }

.link-upload-btn { float: left; margin-top: 5px; margin-right: 10px; }
.link-upload-image-box { float: left; }

.layui-form-label { width: 110px; }
.layui-form-item .layui-input-inline { margin-left: 0px; }

.layui-tab-bg { background:#fff; }
.layui-list-box { background: #fff; }
.layui-table-tool { background: #fff; }
.layui-bg-light-blue{color:#fff!important}
.layui-bg-light-blue{background-color:#3c8dbc!important}

.layui-laypage .layui-laypage-curr .layui-laypage-em { background-color:#3c8dbc!important; }
.layui-table-tool { z-index: 1; }

.uploadfiy-box { position: relative; float: left; margin-right: 10px; width: 140px; height: 100px; }
.uploadfiy-box img { width: 140px; height: 100px; }
.uploadfiy-box .uploadfiy-button { position: absolute; left: 0; bottom: 0; width: 140px; height: 25px; line-height: 28px; background: rgba(0,0,0,0.5); }
.uploadfiy-box .uploadfiy-button a { width: 46px; height: 25px; text-align: center; display: block; float: left; font-size: 12px; color: #fff; }
.uploadfiy-box .uploadfiy-button a:hover,.uploadfiy-box .uploadfiy-button a.active { color: red; }

#attr-template { display: none; }

#attr-template,#attribute-wrap-box,#layui-form-table-box { display: none; }

.layui-tab-content-box { padding:0 0 5px 0; }
#module-data-wrap { display: none; }
#spec-set-attr-box { display: none; }
table.goods-table-box tr th { background: #f2f2f2;text-align: right; }

.content { padding-top: 10px; }
#search-box { margin-top: 15px; }
#search-box .layui-form-item { margin-bottom: 0; }
#search-box .layui-card-body { padding-bottom: 0; }
#search-box button { margin-top: -5px; font-size: 14px; line-height: 25px; }
#search-box .layui-form-pane .layui-form-label { background: #fff; }

.code-box { margin-bottom:15px; }
.code-box .form-control-feedback { right:15px; }
.code-box img { height:34px;width: 115px; cursor: pointer; }

.data-type-box { display: none; }
.wechat-preview { width: 317px; height: 580px; position: relative; background: url(../images/mobile_head.png) no-repeat 0 0; }
.inline-block { display: inline-block !important; }
.wechat-preview .wechat-header {color: #fff;width: auto;margin: 0 30px;overflow: hidden;font-size: 15px;padding-top: 30px;text-align: center;white-space: nowrap;text-overflow: ellipsis;word-wrap: normal;user-select: none;pointer-events: none;-moz-user-select: none;-webkit-user-select: none;-webkit-pointer-events: none;}
.wechat-preview .wechat-body { top: 60px; left: 0; right: 0; bottom: 0; position: absolute; border: 1px solid #ccc; background: #f5f5f5; }
.notselect { user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; }
.wechat-preview .wechat-footer {left: 0;right: 0;bottom: 0;margin: 0;position: absolute;padding-left: 43px;border: 1px solid #ccc;list-style-type: none; background: url(../images/mobile_foot.png) no-repeat 0 0; }
.wechat-preview .wechat-footer li {float: left;width: 33.33%;position: relative;text-align: center;line-height: 50px;cursor: pointer;}
.wechat-preview .wechat-footer li a {width: auto;display: block;overflow: hidden;border: 1px solid hsla(0, 0%, 100%, 0);border-left: 1px solid #e7e7eb;margin-top: -1px;margin-bottom: -1px;color: #616161;white-space: nowrap;text-decoration: none;text-overflow: ellipsis;word-wrap: normal;font-size: 12px;}
.wechat-preview .wechat-footer li a.active {border: 1px solid #44b549 !important;box-shadow: 0 0 1px #44b549;}
.wechat-preview .wechat-footer .sub-menu ul li a {padding: 0 5px;border: 1px solid #ccc;cursor: pointer;}
.wechat-preview .wechat-footer .sub-menu ul li a:last-child { border: 0; }
.wechat-preview .wechat-footer .icon-add, .wechat-preview .wechat-footer .icon-sub {display: inline-block;vertical-align: middle;}
.wechat-preview .wechat-footer .icon-add, .wechat-preview .wechat-footer .icon-sub {display: inline-block;vertical-align: middle;}
.wechat-preview .wechat-footer .icon-sub {width: 7px;height: 7px;margin-right: 2px;background: url(../images/index.png) 0 -3pc no-repeat;}
.wechat-preview .wechat-footer li > .close {top: 1px;right: 1px;width: 18px;height: 18px;display: none;cursor: pointer;position: absolute;text-align: center;line-height: 18px;}
.text-center {text-align: center !important;}
.wechat-preview .wechat-footer .sub-menu {width: 100%;bottom: 60px;margin: -1px;display: block;position: absolute;border: 1px solid #d0d0d0;background-color: #fafafa;}
.wechat-preview .wechat-footer .sub-menu ul, .wechat-preview .wechat-footer .sub-menu ul li {float: none;padding: 0;z-index: 11;display: block;width: 100%;}
.wechat-preview .wechat-footer .arrow {left: 50%;position: absolute;margin-left: -6px;}
.wechat-preview .wechat-footer .arrow_in, .wechat-preview .wechat-footer .arrow_out {width: 0;height: 0;z-index: 10;display: inline-block;border: 6px dashed transparent;border-bottom-width: 0;border-top-style: solid;}
.wechat-preview .wechat-footer .arrow_out {z-index: 2;bottom: -6px;border-top-color: #d0d0d0;}
.wechat-preview .wechat-footer .arrow_in {z-index: 3;bottom: -5px;border-top-color: #fafafa;}
.wechat-preview .wechat-footer .icon-add {width: 14px;height: 14px;border-bottom: none !important;background: url(../images/index.png) 0 0 no-repeat;}
.wechat-preview .wechat-footer .icon-add, .wechat-preview .wechat-footer .icon-sub {display: inline-block;vertical-align: middle;}
.wechat-preview .wechat-footer .sub-menu ul li a.bottom-border {margin: -1px -1px 0;border-bottom: 1px solid #e7e7eb;}
.wechat-preview .wechat-footer .sub-menu ul li:last-child a.bottom-border {border-bottom-color: #fff;}
.menu-fields-box,.menu-empty{display: none;}
.menu-border{ border-left: 0px; font-size: 12px; }

#wechat-ifrmae-box{ width: 100%; height: 100%; }
.a3mall-card-body { padding: 20px; position: relative; width: 100%; box-sizing: border-box; }
.a3mall-card-body { padding: 20px; position: relative; width: 100%; box-sizing: border-box; }
.a3mall-card-body .img-box { vertical-align: middle; width: 50px; height: 50px; line-height: 50px; text-align: center; display: block; border-radius: 50%; color: #fff; opacity: .9; font-size: 24px; float: left; }
.layui-col-xs6:nth-child(1) .img-box{ background-color: #FF5722; }
.layui-col-xs6:nth-child(2) .img-box{ background-color: #5FB878; }
.layui-col-xs6:nth-child(3) .img-box{ background-color: #01AAED; }
.layui-col-xs6:nth-child(4) .img-box{ background-color: #8f72d7; }
.a3mall-card-body .img-box i { text-align: center; }
.a3mall-card-body .cart-r { display: inline-block; vertical-align: middle; padding-left: 20px; }
.a3mall-card-body .stat-text { color: #455a64; font-size: 24px; padding-bottom: 5px; }
.a3mall-card-body .stat-heading { color: #99abb4; }
.a3mall-card-title { color: #212529; font-size: 16px; padding-bottom: 20px; font-weight: bolder; }

.shop-wrap{ background-color: #fff; padding: 20px 0; }
.shop-menu{ float: left; width: 300px; height: auto !important; height: 500px; min-height: 500px; background-color: #fff; position: relative; margin-left: 50px; border: 1px solid #e9e9e9; box-shadow: 0 3px 5px #dcdcdc; }
.widget-wrap{ border: 1px solid #e9e9e9; padding: 10px; text-align: left; color: #666; }
.widget-wrap .widget-title { padding: 5px; border-bottom: 1px solid #f0f0f0; }
.widget-wrap .widget-title .widget-text { padding: 0 10px; border-left: 4px solid #3c8dbc; }
.widget-list { display: flex; }
.widget-item{ padding: 10px; }
.widget-item-title{ font-size: 12px; color: #999; margin: 10px 0; }
.widget-item-box ul { position: relative; overflow: hidden; padding: 0; margin: 0; }
.widget-item-box ul .widget-item-li { width: 74px; float: left; padding: 5px 0; margin: 5px; text-align: center; height: 54px; text-align: center; display: block; background-color: #f5f5f5; border: 1px solid #ddd; font-size: 12px; color: #333; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; cursor: pointer; -o-user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select :none; user-select: none; }
.widget-item-box ul .widget-item-li i { color: #666; font-size: 20px !important; margin-bottom: 5px; margin-right: 0!important; }
.shop-content{ float: left; width: 375px; height: 685px; border: 1px solid #e9e9e9; box-shadow: 0 3px 10px #dcdcdc; position: relative; margin-left: 50px; }
.shop-content .shop-header{ width: 100%; height: 90px; background-image: url(../images/mobile-header.png); background-size: 100%; background-repeat: no-repeat; border-bottom: 1px solid #eee; }
.shop-content .shop-main{ width: 100%; height: 594px; overflow: hidden; position: relative; }
.shop-content .shop-main .shop-button{width: 100%; height: 60px; line-height: 60px; text-align: center; position: absolute; left: 0; bottom: 0; background-color: #f5f5f5; }
.shop-button span {background-color: #3c8dbc; width: 120px; height: 40px; line-height: 40px; text-align: center; display: inline-block; color: #fff; border-radius: 6px; cursor: pointer; -o-user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select :none; user-select: none; }
.shop-button span:hover { opacity: 0.8; }
.shop-mobile { overflow-y: auto; width:373px; height:534px; }
.layout-list .layout-main.active .drag:before, .layout-main:hover .drag:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px dashed #00a0e9; cursor: move; z-index: 1001; }
.layout-list{ width:100%; height: auto !important; height:534px; min-height: 534px; }
.layout-list .ghost { background: #fff; border: 1px dashed #3c8dbc; }
.layout-list .ghost::after { background: #fff; }
.layout-list li.ghost { position: relative; line-height: 30px; list-style: none; font-size: 0; }
.layout-list li.ghost::after { content: '放到这里'; display: block; background: #fff; position: absolute; left: 50%; margin-left: -32px; top: 0; font-size: 16px; color: #999; z-index: 10; }
.layout-list .layout-main { position: relative; }
.layout-list .layout-main .btn-delete { position: absolute; height: 18px; line-height: 18px; right: 2px; bottom: 2px; z-index: 90; width: 36px; text-align: center; font-size: 10px; color: #fff; background: rgba(0, 0, 0, 0.4); cursor: pointer; z-index: 1300; }
.layout-list .layout-main .btn-clone { position: absolute; height: 18px; line-height: 18px; right: 50px; bottom: 2px; z-index: 90; width: 36px; text-align: center; font-size: 10px; color: #fff; background: #409eff; cursor: pointer; z-index: 1300; }
.lay-slider{ width: 100%; float: left; height: auto !important; height: 50px; min-height: 50px; }
.lay-images{ background-color: #F56C6C; width: 100%; float: left; height: auto !important; height: 150px; min-height: 150px; }
.lay-images h3 { text-align: center; color: #fff; font-size: 14px; line-height: 150px }
.lay-image-group { position: relative; width: 100%; float: left; height: auto !important; height: 150px; min-height: 150px; }
.lay-video { width: 100%; float: left; height: auto !important; height: 200px; min-height: 200px; }
.lay-article { width: 100%; float: left; height: auto !important; height: 100px; min-height: 100px; }
.lay-search { width: 100%; float: left; height: auto !important; height: 50px; min-height: 50px; }
.layout-editor { float: left; margin-left: 50px; width: 400px; height: auto !important; box-shadow: 0 3px 5px #dcdcdc; padding: 10px; border: 1px solid #e9e9e9; }
.editor-title { padding: 5px; border-bottom: 1px solid #f0f0f0; margin-bottom: 15px; }
.editor-title span { display: block; padding: 0 10px; border-left: 4px solid #3c8dbc; text-align: left; }
.content-item { padding: 5px 0; }
.layout-editor .drag-block { height: 30px; background: #F2F2F2; cursor: move; position: relative; }
.layout-editor .drag-block .handle-icon { position: absolute; right: 0px; top: 0; width: 30px; height: 30px; line-height: 30px; text-align: center; cursor: pointer; }
.layout-editor .addImg { width: 100%; height: 32px; line-height: 32px; text-align: left; border: 1px dashed #e9e9e9; margin-top: 15px; cursor: pointer; padding-left: 5px; font-size: 13px; }
.empty-image-box { color: #333; text-align: center; width:auto; max-width:200px; height:90px; line-height: 90px; background-color: #F2F6FC;  }
.file { position: relative; display: inline-block; background: #D0EEFF; border: 1px solid #99D3F5; border-radius: 4px; padding: 4px 12px; overflow: hidden; color: #1E88C7; text-decoration: none; text-indent: 0; line-height: 20px; cursor: pointer; }
.file input { position: absolute; font-size: 100px; right: 0; top: 0; opacity: 0; cursor: pointer; }
.file:hover { background: #AADFFD; border-color: #78C3F3; color: #004974; text-decoration: none; }
.el-select input[readonly] { background: #fff; }
.el-input input[readonly] { background: #fff; }
.image-group-block {flex: 1;padding-left: 20px;}
.image-group-item {width: 75px;height: 75px;display: inline-block;border: 1px solid #e5e5e5;margin: 0 10px 15px 0;padding-top: 5px;background-color: #fff;text-align: center;cursor: pointer;}
.image-group-item .image-group-item-image {height: 40px;}
.image-group-item .image-group-item-image img {height: auto;width: 60px;margin: 0 auto;vertical-align: middle;}
.image-group-item .image-group-item-text { margin-top: 10px; font-size: 12px; }
.image-group-item.active { border: 1px solid #ff7159; }
.display-left span { display: block; width: 100%; height: 100%; background-color: #00a0e9 }
.lay-image-group .image-group-wrap { float: left; box-sizing: border-box; }
.image-group-row-2 .image-group-wrap { width: 50%; height: 150px; }
.image-group-row-3 .image-group-wrap { width: 33%; height: 150px; }
.image-group-row-4 .image-group-wrap { width: 25%; height: 150px; }
.image-group-row-0 .display { height: 0; width: 100%; margin: 0; padding-bottom: 50%; position: relative; }
.image-group-wrap span { display: block; color: #fff; width: 100%; height: 150px; line-height: 150px; text-align: center; background-color: #00a0e9 }
.image-group-row-0 .display .image-group-left { width: 50%; height: 100%; position: absolute; top: 0; left: 0; }
.image-group-row-0 .display img { width: 100%; height: 100%; }
.image-group-row-0 .display .image-group-right { width: 50%; height: 100%; position: absolute; top: 0; left: 50%; }
.display .image-group-right .image-group-right1 { width: 100%; height: 50%; position: absolute; top: 0; left: 0; }
.display .image-group-right .image-group-right2 { width: 100%; height: 50%; position: absolute; top: 50%; left: 0; }
.display .image-group-right .image-group-right2 .left { width: 50%; height: 100%; position: absolute; top: 0; left: 0; }
.display .image-group-right .image-group-right2 .right { width: 50%; height: 100%; position: absolute; top: 0; left: 50%; }
.image-group-row-0 .display span { display: block; width: 100%; height: 100%; background-color: #00a0e9 }
.lay-image-group img { width: 100%; height: 100%; }
.lay-article { background: #f7f7f7; }
.lay-article .article-wrap { width: 100%; height: 100px; padding: 15px; background: #FFF; }
.lay-article .article-wrap .article-left { float: left; height: 100%; width: 200px; }
.lay-article .article-wrap .article-img { float: right; width: 120px; height: 70px; }
.lay-article .article-wrap .article-img img { display: block; width: 120px; height: 100%; object-fit: cover; }
.lay-article .article-wrap .article-img span { background-color: #07c7f6; display: block; width: 120px; height: 100%; object-fit: cover; }
.layout-list .layout-main .lay-search { width: 100%; height: 50px; padding: 7px 13px; }
.layout-list .layout-main .lay-search-box { width: 100%; height: 100%; position: relative; }
.layout-list .layout-main .lay-search-input { width: 100%; height: 36px; border-radius: 18px; background-color: #e9e9e9; border: none; padding: 0 15px; color: #999; cursor: move; }
.layout-list .layout-main .lay-search-input.round { border-radius: 18px; }
.layout-list .layout-main .lay-search .fa { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 15px; color: #999; font-size: 18px !important; }
.layout-list .layout-main .lay-notice { line-height: 32px; padding: 2px 10px; background: #fff; overflow: hidden; }
.layout-list .layout-main .lay-notice .fa { position: relative; top: 6px; float: left; font-size: 20px; color: #00a0e9; margin-right: 2px; }
.layout-list .layout-main .lay-notice .notice-right { float: left; margin-left: 5px; height: 32px; overflow: hidden; }
.layout-list .layout-main .lay-notice .notice-right .notice-text { color: #333; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.layout-list .layout-main .lay-navbar { min-height: 88px; }
.layout-list .layout-main .lay-navbar .item { float: left; text-align: center; padding: 10px 0; }
.layout-list .layout-main .lay-navbar.lay-navbar-row-3 .item { width: 33.3333%; }
.layout-main .lay-navbar span { display: inline-block; background-color: #eee; border-radius: 50%; height: 44px; width: 44px; }
.layout-list .layout-main .lay-navbar.lay-navbar-row-4 .item { width: 25%; }
.layout-list .layout-main .lay-navbar.lay-navbar-row-5 .item { width: 20%; }
.layout-list .layout-main .lay-navbar .item-image { margin-bottom: 4px; text-align: center; }
.layout-list .layout-main .lay-navbar .item-image img { border-radius: 50%; height: 44px; width: 44px; object-fit: cover; }
.layout-list .layout-main .lay-navbar .item-text { height: 20px; line-height: 20px; width: 70px; margin: 0 auto; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.layout-list .layout-main .lay-tabbar { overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%; }
.layout-list .layout-main .lay-tabbar .item { float: left; text-align: center; padding: 10px 10px; }
.layout-list .layout-main .lay-tabbar.lay-tabbar-row-3 .item { width: 33.3333%; }
.layout-list .layout-main .lay-tabbar.lay-tabbar-row-4 .item { width: 25%; }
.layout-list .layout-main .lay-tabbar.lay-tabbar-row-5 .item { width: 20%; }
.layout-list .layout-main .lay-tabbar .item-text { height: 20px; line-height: 20px; width: 70px; margin: 0 auto; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.layout-list .layout-main .lay-goods.list { height: auto; }
.lay-goods .goods-head { height: 40px; display: flex; justify-content: space-between; align-items: center; background: #FFF; padding: 0 10px; }
.lay-goods.list .goods-item { float: left; }
.lay-goods .goods-item.column1 { width: 100%; padding: 8px; height: 140px; display: flex; background: #FFF; margin-bottom: 8px; }
.lay-goods .goods-item.column2 { width: 50%; padding: 3px; }
.lay-goods .goods-item.column3 { width: 33%; padding: 3px; }
.lay-goods .goods-item .goods-image { background-color: #e2e2e2; position: relative; width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; }
.lay-goods .goods-item .goods-image img { position: absolute; width: 100%; height: 100%; top: 0; left: 0; -o-object-fit: cover; object-fit: cover; }
.lay-goods .goods-item .goods-detail { padding: 4px; background: #fff; font-size: 13px; }
.lay-goods.slide { overflow: hidden; height: auto; white-space: nowrap; width: auto; }
.lay-goods.slide .goods-item.column2 { display: inline-block; float: none; width: 50%; padding: 3px; }
.lay-goods.slide .goods-item.column3 { display: inline-block; float: none; width: 33%; padding: 3px; }
.lay-goods .goods-item.column1 .goods-image { width: 120px; height: 120px; padding: 0; }
.lay-goods .goods-item.column1 .goods-detail { flex: 1; }
.twolist-hidden { display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.lay-goods .goods-item .goods-detail .goods-name { height: 40px; overflow: hidden; margin-bottom: 5px; }
.lay-goods .goods-item.column1 .goods-price { margin-top: 50px; }
.lay-goods .goods-item .goods-detail .goods-price { font-size: 15px; color: red; }
.lay-goods.lay-group { background: #FFF; padding: 10px; }
.lay-goods .group-item { width: 300px; padding: 10px; position: relative; background: rgb(246, 246, 246); height: 120px; display: inline-block; margin-right: 15px; }
.lay-goods .group-item .group-image { width: 98px; height: 98px; position: absolute; left: 10px; top: 10px; }
.lay-goods .group-item .group-image img { width: 100%; height: 100%; object-fit: cover; }
.lay-goods .group-item .group-image span { background-color: #ddd; display: block; width: 98px; height: 98px; object-fit: cover; }
.lay-goods .group-item .group-detail { position: absolute; top: 10px; left: 120px; bottom: 10px; right: 0; }
.lay-goods .group-item .group-detail .group-price { position: absolute; top: 50px; left: 0px; font-size: 18px; color: #ff7159; }
.lay-goods .group-item .group-detail .group-time { position: absolute; bottom: 0px; left: 0px; font-size: 12px; }
.lay-goods .group-item .group-detail .group-time span { color: #ff7159; padding: 3px; text-align: center; }
.lay-goods .group-item .group-detail .group-time span.time { background: #FFF; }
.lay-goods .group-item .group-detail .buy-icon { position: absolute; bottom: 0; right: 10px; display: block; width: 20px; height: 20px; }
.lay-goods .group-item .group-detail .buy-icon img { width: 100%; }
.lay-goods .group-item .group-detail .buy-icon i { position: relative; top: 3px; font-style: normal; font-size: 20px; }
#selectGoods li { float: left; margin: 10px; height: 70px; width: 70px; background: #f7fafc; position: relative; border-radius: 3px; cursor: move; }
#selectGoods li .icon-delete { position: absolute; top: -6px; right: -6px; border-radius: 50%; text-align: center; cursor: pointer; font-size: 18px; transition: background-color .3s ease-out, border-color .3s ease-out; -webkit-transition: background-color .3s ease-out, border-color .3s ease-out; }
#selectGoods li img { width: 70px; height: 50px; }
#selectGoods li p { overflow:hidden;  text-overflow:ellipsis; white-space:nowrap; height: 20px; line-height: 20px; font-size: 12px; text-align: center; }
.lay-bonus { padding: 4px 12px; }
.lay-bonus .bonus-item { width: 100%; box-sizing: border-box; background: linear-gradient(to right, #ff6565, #ff8a8a); margin: .1rem 0; border-radius: 5px; overflow: hidden; position: relative; }
.lay-bonus .bonus-item .bonus-left { width: 28%; height: 50px; color: rgb(255, 247, 247); font-size: 12px; padding: 0 14px; float: left; margin: 12px 0; text-align: center; box-sizing: border-box; border-right: 1px dotted #fff; display: inline-block; }
.lay-bonus .bonus-item .bonus-left p { position: relative; top: 50%; transform: translateY(-50%); }
.lay-bonus .bonus-item .bonus-right { width: 50%; height: 100%; float: left; text-align: left; color: #fff; box-sizing: border-box; padding: 10px; display: inline-block; font-size: 12px; }
.lay-bonus .bonus-item .bonus-right .bonus-f { font-size: 14px; }
.lay-bonus .bonus-item .bonus-btn { padding: 0 8px;background-color: #ffe7e7;color: #ff5454;font-size: 12px;position: absolute;top: 50%;transform: translateY(-50%);right: 10px;border-radius: 2px;}
.reset-color{ position: relative; top: -15px; }

.lay-header,.head-wrap { width: 100%; height:50px; float: left; }
.lay-header .head-wrap { width: 90%; margin-left: 5%; }
.lay-header .head-left { float: left; height: 50px; line-height: 50px; }
.lay-header .head-left span { font-size: 15px; }
.lay-header .head-left span:first-child { border-right: 1px solid #ccc; padding-right: 10px; }
.lay-header .head-right { float: right; height: 50px; }
.lay-header .head-right i { font-size: 20px; position: relative; top: 15px; }

.custom-select-box{
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}





