.lb-picker-column {
  height: 34px;
  /* #ifndef APP-NVUE */
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  /* #endif */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lb-picker-column-label {
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  transition-property: color;
  transition-duration: 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}